.banner {
  position: relative;
  margin-bottom: 0.6rem;
}

img {
  max-width: 100%;
  border-radius: 12px;
}

.afreeca {
}

.buttons {
  position: absolute;
  bottom: 10px;
  left: 16px;
  font-weight: 800;
}
