.row {
  color: black;
}

.label {
  cursor: pointer;
  user-select: none;
}

.date {
  max-width: 120px;
}

.cell {
  display: flex;
  flex-direction: row;
}

.thumbnail {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.thumbnail img {
  height: 40px;
}

.title {
  font-size: 0.7rem;
}

.text {
  display: flex;
  flex-direction: column;
}

.labels {
  margin-top: 5px;
}
