<clr-main-container>
  <clr-header>
    <div class="branding">
      <a routerLink="" class="nav-link">
        <img src="assets/starcraft.ico" class="icon">
        <span class="title">스타강의실</span>
      </a>
    </div>
    <div class="header-nav">
      <a class="nav-link" routerLink="" routerLinkActive="active">
        <span class="nav-text">서문지훈</span>
      </a>
    </div>
  </clr-header>
  <div class="content-container">
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
  </div>
</clr-main-container>
